<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layoutPadrao">

<head>

<link rel="stylesheet" th:href="@{plugins/datepicker/datepicker3.css}">
<link rel="stylesheet" type="text/css" th:href="@{plugins/jQuery-File-Upload/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{plugins/jQuery-File-Upload/css/jquery.fileupload.css}">
</head>

<body>
	
	<section layout:fragment="content">

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Associados <small>novo</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Associados</a></li>
					<li class="active">Novo</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<form role="form" enctype="multipart/form-data"  >

					<div class="row">
						<div class="col-md-12">
							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">Dados Principais</h3>
								</div>

								<div class="box-body">
									<div class="row">
										<div class="form-group col-md-6 col-xs-12">
											<label for="nome">Nome</label> <input type="text"
												class="form-control" id="nome" placeholder="Digite o nome">
										</div>
										<div class="form-group col-md-6 col-xs-12">
											<label for="email">Email</label> <input type="email"
												class="form-control" id="email" placeholder="Digite o email">
										</div>
									</div>


									<div class="row">
										<div class="form-group col-md-6 col-xs-12">
											<label for="dataNascimento">Data de Nascimento</label>
											<div class="input-group date">
												<input type="text" class="form-control datepicker"
													readonly="readonly"> <span
													class="input-group-addon"> <i class="fa fa-calendar"></i>
												</span>
											</div>

										</div>

										<div class="form-group col-md-6 col-xs-12">
											<label for="senha">Senha</label> <input type="password"
												class="form-control" id="senha" placeholder="Digite Senha">
										</div>
									</div>

									<div class="row">
										<div class="form-group col-md-6 col-xs-12">
											<label>Organização</label> <select class="form-control ">
												<option>Confederação Brasileira Kyokushinkaikan</option>
												<option>Federação Paulista Karate Kyokushin</option>
												<option>Federação Paranaense</option>
												<option>Federação Mineira</option>
												<option>Federação Matogrossense</option>
											</select>
										</div>
										<div class="form-group col-md-6 col-xs-12">
											<label>Responsável</label> <select class="form-control ">
												<option>Sensei 1</option>
												<option>Sensei 2</option>
												<option>Sensei 3</option>
												<option>Sensei 4</option>
												<option>Sensei 5</option>
											</select>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-md-6 col-xs-12">
											<label for="codigoMatricula">Código da Matrícula</label> <input
												type="text" class="form-control" id="codigoMatricula"
												placeholder="Digite código da matrícula"
												data-inputmask="'mask': ['9999999999']" data-mask
												maxlength="10">
										</div>
										<div class="form-group col-md-6 col-xs-12  fallback">
											<label for="fotoPerfil">Foto do perfil</label> 
											<div>
												<span class="btn btn-success fileinput-button">
											        <i class="glyphicon glyphicon-plus"></i>
											        <span>Add files...</span>
											        <!-- The file input field used as target for the file upload widget -->
											        <input id="fileupload" type="file" name="files[]" multiple>
											    </span>
											    <br>
											    <br>
											    <!-- The global progress bar -->
											    <div id="progress" class="progress">
											        <div class="progress-bar progress-bar-success"></div>
											    </div>
											    <!-- The container for the uploaded files -->
											    <div id="files" class="files"></div>
											   </div>
								
										</div>
									</div>

								</div>



							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">Documentos</h3>
								</div>

								<div class="box-body">
									<div class="row">
										<div class="form-group col-md-6 col-xs-12">
											<label for="rg">RG</label> <input type="text"
												class="form-control" id="rg" placeholder="Digite o RG"
												data-inputmask="'mask': ['99.999.999-#']" data-mask>
										</div>
										<div class="form-group col-md-6 col-xs-12">
											<label for="cpf">CPF</label> <input type="text"
												class="form-control" id="cpf" placeholder="Digite o cpf"
												data-inputmask="'mask': ['999.999.999-99']" data-mask>
										</div>
									</div>



								</div>

							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="box box-primary">
								<div class="box-header with-border">
									<h3 class="box-title">Endereço</h3>
								</div>

								<div class="box-body">
									<div class="row">
										<div class="form-group col-md-2 col-xs-12">
											<label>Tipo Endereço</label> <select class="form-control ">
												<option>Rua</option>
												<option>Avenida</option>
												<option>Alameda</option>
												<option>Rodovia</option>
												<option>Estrada</option>
											</select>
										</div>
										<div class="form-group col-md-5 col-xs-12">
											<label for="logradouro">Logradouro</label> <input type="text"
												class="form-control" id="logradouro"
												placeholder="Digite o Logradouro">
										</div>

										<div class="form-group col-md-2 col-xs-12">
											<label for="numero">Numero</label> <input type="text"
												class="form-control" id="numero"
												placeholder="Digite o numero">
										</div>

										<div class="form-group col-md-3 col-xs-12">
											<label for="complemento">Complemento</label> <input
												type="text" class="form-control" id="complemento"
												placeholder="Digite o complemento">
										</div>
									</div>


									<div class="row">
										<div class="form-group col-md-4 col-xs-12">
											<label for="bairro">Bairro</label> <input type="text"
												class="form-control" id="bairro"
												placeholder="Digite o bairro">
										</div>
										<div class="form-group col-md-4 col-xs-12">
											<label for="cidade">Cidade</label> <input type="text"
												class="form-control" id="cidade"
												placeholder="Digite a cidade">
										</div>
										<div class="form-group col-md-2 col-xs-12">
											<label>Estado</label> <select class="form-control ">
												<option>SP</option>
												<option>RJ</option>
												<option>MG</option>
												<option>SC</option>
												<option>PR</option>
											</select>
										</div>
										<div class="form-group col-md-2 col-xs-12">
											<label for="cep">CEP</label> <input type="text"
												class="form-control" id="cep" placeholder="Digite o cep">
										</div>
									</div>



								</div>


							</div>

						</div>

					</div>
					<div class="box-footer">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</form>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
	</section>

	<section layout:fragment="scripts">
		<script th:src="@{plugins/input-mask/jquery.inputmask.js}"></script>
		<script
			th:src="@{plugins/input-mask/jquery.inputmask.date.extensions.js}"></script>
		<script th:src="@{plugins/input-mask/jquery.inputmask.extensions.js}"></script>
		<script th:src="@{plugins/datepicker/bootstrap-datepicker.js}"></script>
		
		<script th:src="@{plugins/jQuery-File-Upload/js/vendor/jquery.ui.widget.js}"></script>
		<script th:src="@{plugins/jQuery-File-Upload/js/load-image.all.min.js}"></script>
		<script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
		
		<script th:src="@{plugins/jQuery-File-Upload/js/jquery.iframe-transport.js}"></script>
		<!-- The basic File Upload plugin -->
		<script th:src="@{plugins/jQuery-File-Upload/js/jquery.fileupload.js}"></script>
		<!-- The File Upload processing plugin -->
		<script th:src="@{plugins/jQuery-File-Upload/js/jquery.fileupload-process.js}"></script>
		<!-- The File Upload image preview & resize plugin -->
		<script th:src="@{plugins/jQuery-File-Upload/js/jquery.fileupload-image.js}"></script>
		<!-- The File Upload audio preview plugin -->
		<script th:src="@{plugins/jQuery-File-Upload/js/jquery.fileupload-audio.js}"></script>
		<!-- The File Upload video preview plugin -->
		<script th:src="@{plugins/jQuery-File-Upload/js/jquery.fileupload-video.js}"></script>
		<!-- The File Upload validation plugin -->
		<script th:src="@{plugins/jQuery-File-Upload/js/jquery.fileupload-validate.js}"></script>
		<script>
		
		$(function () {
		    'use strict';
		    // Change this to the location of your server-side upload handler:
		    var url = window.location.hostname === 'blueimp.github.io' ?
		                '//jquery-file-upload.appspot.com/' : 'server/php/',
		        uploadButton = $('<button/>')
		            .addClass('btn btn-primary')
		            .prop('disabled', true)
		            .text('Processing...')
		            .on('click', function () {
		                var $this = $(this),
		                    data = $this.data();
		                $this
		                    .off('click')
		                    .text('Abort')
		                    .on('click', function () {
		                        $this.remove();
		                        data.abort();
		                    });
		                data.submit().always(function () {
		                    $this.remove();
		                });
		            });
		    $('#fileupload').fileupload({
		        url: url,
		        dataType: 'json',
		        autoUpload: false,
		        acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
		        maxFileSize: 999000,
		        // Enable image resizing, except for Android and Opera,
		        // which actually support image resizing, but fail to
		        // send Blob objects via XHR requests:
		        disableImageResize: /Android(?!.*Chrome)|Opera/
		            .test(window.navigator.userAgent),
		        previewMaxWidth: 100,
		        previewMaxHeight: 100,
		        previewCrop: true
		    }).on('fileuploadadd', function (e, data) {
		        data.context = $('<div/>').appendTo('#files');
		        $.each(data.files, function (index, file) {
		            var node = $('<p/>')
		                    .append($('<span/>').text(file.name));
		            if (!index) {
		                node
		                    .append('<br>')
		                    .append(uploadButton.clone(true).data(data));
		            }
		            node.appendTo(data.context);
		        });
		    }).on('fileuploadprocessalways', function (e, data) {
		        var index = data.index,
		            file = data.files[index],
		            node = $(data.context.children()[index]);
		        if (file.preview) {
		            node
		                .prepend('<br>')
		                .prepend(file.preview);
		        }
		        if (file.error) {
		            node
		                .append('<br>')
		                .append($('<span class="text-danger"/>').text(file.error));
		        }
		        if (index + 1 === data.files.length) {
		            data.context.find('button')
		                .text('Upload')
		                .prop('disabled', !!data.files.error);
		        }
		    }).on('fileuploadprogressall', function (e, data) {
		        var progress = parseInt(data.loaded / data.total * 100, 10);
		        $('#progress .progress-bar').css(
		            'width',
		            progress + '%'
		        );
		    }).on('fileuploaddone', function (e, data) {
		        $.each(data.result.files, function (index, file) {
		            if (file.url) {
		                var link = $('<a>')
		                    .attr('target', '_blank')
		                    .prop('href', file.url);
		                $(data.context.children()[index])
		                    .wrap(link);
		            } else if (file.error) {
		                var error = $('<span class="text-danger"/>').text(file.error);
		                $(data.context.children()[index])
		                    .append('<br>')
		                    .append(error);
		            }
		        });
		    }).on('fileuploadfail', function (e, data) {
		        $.each(data.files, function (index) {
		            var error = $('<span class="text-danger"/>').text('File upload failed.');
		            $(data.context.children()[index])
		                .append('<br>')
		                .append(error);
		        });
		    }).prop('disabled', !$.support.fileInput)
		        .parent().addClass($.support.fileInput ? undefined : 'disabled');
		    
		    $('#mnuAssociado').addClass('active');
		    $('#mnuCadastros').addClass('active');
		    
		    $("[data-mask]").inputmask();
		    
		
		    //Date picker
		    $('.input-group.date').datepicker({
		    	
		    	language: "pt-BR",
		        keyboardNavigation: false,
		        format: "dd/mm/yyyy",
		        autoclose: true
		    });
		});
		</script>

	</section>
</body>

</html>